
@{
    ViewBag.Title = "LeaderTabel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Leader Board</h3>
    <table>
        <tr>
            <td><p>Player name</p></td>
            <td><p>Number point</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Player)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Point</p></td>
            </tr>
        }
    </table>
</div>

