@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Start";
}

<script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")' type="text/javascript"></script>


<h2>Start</h2>

<div>
    <form name="test" method="post" action="CheckUser">
        <input name="Player" list="player" class="dropdawnPlayers" required>
        <select name="botsNumber">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" class="button">
    </form>
</div>

<datalist id="player">
    @foreach (var p in @ViewBag.Player)
    {
        <option value="@p.Name"></option>
    }
</datalist>