@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Start";
}


<h2>Start</h2>

<div>
    <form name="test" method="get" action="">
        <input list="player">
            <datalist id="player">
                @foreach (var p in @ViewBag.Player) {
                <option value="@p.Name"></option>
                }
            </datalist>
        <input type="submit" value="Отправить">
    </form>
</div>