<h2 [hidden]="isEnd">GameShow</h2>
<h2 [hidden]="!isEnd">GameResult</h2>
<div [hidden]="isEnd">
  <input type="button" class="btn btn-primary" value="Take Card" (click)="resumePlay()" />
  <input type="button" class="btn btn-primary" value="Wait Other" (click)="stopPlay()" />
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Player name
      </th>
      <th>
        Cards
      </th>
      <th>
        Pionts
      </th>
      <th>
        Player Status
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of gameInfo">
      <td>
        {{ player.PlayerName }}
      </td>
      <td>
        <app-cards [cards]=player.Cards>No cart</app-cards>
      </td>
      <td>
        {{ player.Points }}
      </td>
      <td>
        <app-player-status [playerStatus]=player.PlayerStatus></app-player-status>
      </td>
    </tr>
  </tbody>
</table>
